body {
  font-family: sans-serif;
}

.dir {
  /* font-weight: bold; */
  color: black;
  margin-left: 5px;
  padding: 5px;
  line-height: 16px;
}

.dir-heading {
  padding: 0.3rem;
  border-radius: 5px;
  font-weight: bold;
}

.dir-heading:hover {

}

.icon-container {
  display: none;
}

.file {
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 5px;

  font-weight: normal;
}

.file:hover {
  background-color: lightgrey;
}

.icon {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  vertical-align: middle;
}

.bi-folder-fill {
  color: blue;
}

/* .dir>span {
  display: none;
} */
